/* @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:wght@300&family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,500&family=VT323&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,100;1,9..40,200&family=Inter:wght@300&family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,500&family=VT323&display=swap'); 


*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    }
    

/**Header **/
.nav-bar{
    display: none;
}

/* .menu-hamburguesa{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}
.ul-nav{
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 96px;
    right: 0;
    bottom: 0;
    background-color: #6B705C;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
} */

.principal-header{
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F5F2DA;
}

.div-logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.div-logo img{
    width: 40%;
}

.menu-icon{
    align-self: center;
    justify-content: center;
    margin-right: 5%;
} 

.close-icon{
    align-self: center;
    justify-content: center;
    margin-right: 5%;
}


/**MAIN SECTION **/
.heroe{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: heroe 30s infinite;
}

@keyframes heroe{
    0%, 30% {
        background-image: url(../images/SARA.jpg);
    }
    35%, 65% {
        background-image: url(../images/SARA1071.jpg);
    }
    70%, 100% {
        background-image: url(../images/banner2.jpg);
    }
}

.event-button{
    /* background-color: #B7B7A4; */
    color: white;
    padding: 3% 4%;
    margin: 5%;
    align-self: center;
    border: 2px white solid ;
    border-radius: 10px;
    border-color: white;
    text-decoration: none;
    
}
.h2-heroe{
    font-size: 40px;
    color: white;
    margin: 2% 2%;
    /* background-color: #B7B7A4; */
    text-align: center;
}

.h3-heroe{
    font-size: 15px;
    color: white;
    align-self: center;
    margin: 2% 2%;
}

.heroe-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
}

.heroe-div-img{
    width: 80%;
}

/*NOSOTROS */
.heroe-nosotros{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/fondo2.png);
}

.h2-nosotros{
    font-size: 40px;
    color: white;
    margin: 2% 2%;
    background-color: #F5F2DA;
    width: 400px;
    align-self: center;
    text-align: center;
}
.info-nosotros{
    position: relative;
    width: 85%;
    margin: 0 auto;
    height: 550px;
    pointer-events: none;
    margin-top: 3%;
    margin-bottom: 15%;
}
.info-h2{
    text-align: center;
    padding-top: 10%;
    color: #CB997E;
    font-size: 1.5rem;
}
.info-p{
    position: absolute;
    text-align: center; 
    font-size: 1.2rem;
    margin-top: 3%;
    line-height: 2rem;
}

/*EVENTOS*/
.heroe-eventos{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/fondo6.jpg);
}

.h2-event{
    font-size: 40px;
    color: white;
    margin: 2% 2%;
    background-color: #F5F2DA;
    width: 400px;
    align-self: center;
    text-align: center;
} 
.contact{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6E3CC;
}

.contact h2{
    color: #6B705C;
    text-align: center;
    margin: 3%;
    font-size: 1.6rem;
}
.contact-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #6B705C;
    font-size: 1.2rem;
    width: 10%;
    padding: 3% 10%;
    margin: 5%;
    border: 2px #6B705C solid ;
    border-radius: 10px;
    border-color: #6B705C;
    text-decoration: none;
}
.contact-button:hover{
    color:#CB997E;
}
/*FORM */
.heroe-form{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/fondo4.jpg);
}

.h2-form{
    font-size: 40px;
    color: white;
    margin: 2% 2%;
    background-color: #F5F2DA;
    width: 400px;
    align-self: center;
    text-align: center;
}
.form-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin: 4%;
    margin-bottom: 20%;
}
.h2-form-info{
    padding-bottom: 8%;
    color: #CB997E;
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 5%;
}
.form-info p{
    line-height: 1.8rem;
    font-size: 1.2rem;
}
/* LOGIN MI CUENTA*/
.form-login{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 6%; 
    height: 80vh;
}

.login{
    width: 40%;
    text-align: center; 
    padding: 20px;
}

.form-login h1{
    color: #CB997E;
    font-size: 3.5rem;
}

.form-login input{
    width: 95%; 
    height: 2rem;
    margin: 0.5rem 0; 
    padding: 0.5rem;
    border: 1px solid #6B705C;
    border-radius: 4px;
    background-color: white;
}
.form-login button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 2.5rem;
    padding: 0.8rem 1.8rem;
    background-color: #F5F2DA;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    margin: 2vh 1vw; 
}
    .form-login button:hover {
        scale: 1.1;
        cursor: pointer;
    }
/* RESTO DE LA PAGINA*/
/* Info*/
.info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin: 5%;
}

.h2-info{
    color: #6B705C;
    font-size: 30px;
    text-align: center;
}

.h2-info span{
    color: #CB997E;
    
}

.p-info{
    color: #6B705C;
    padding-top: 5%;
    text-align: center;
}

hr {
    margin: 10px 0;
    size: 50px;
}

/** cards **/

.events-div{
    /* background-color: #F5E1DA; */
    background-color: #F5F2DA; 
    /* background-color: #F3F5E2; */
    padding-bottom: 20%;
    padding-top: 5%;
}
.cards-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5F2DA;
    /* margin-top: 5%; */
} 

.h2-events{
    text-align: center;
    /* margin-top: 8%; */
    color: #CB997E;
    font-size: 40px;

}
/* .h2-events{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    color: #CB997E;
    font-size: 40px;

} */

.card{
    width: 80%;
    height: 250px;
    padding: 10%;

}

.card:hover{
    scale: 1.1;
}

.card p{
    /* background-color:#BFB8AA; */
    background-color: #E6E3CC;
    color: #6B705C;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4%;
    
}

.main-card{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}
.card-1{
    background-image: url(../images/card-bodas.jpg);
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px; */
    
}

.card-2{
    background-image: url(../images/card-bapcom.jpg);
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px; */
}
.card-3{
    background-image: url(../images/card-15.png);
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px; */
}
.card-4{
    background-image: url(../images/card-cumple.jpg);
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px; */
}
    

/**forms **/
.form-section{
    display: flex;
    flex-direction: column;
    background-color:white;
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); */
    border-radius: 0.5rem;
    /* padding: 2rem; */
    /* margin: 1rem 1rem; */
}
.form-img{
    background-image: url(../images/mesa3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: row;
    
}
.main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0% 0;
}
.main-form> * {
    padding: 2% 0;
    font-size: 0.9rem; 
    color:#6B705C;

}
.h1-contact{
    font-size: 2.5em;
    color: #6B705C;
    text-align: center;
    padding-top: 8%;
}

.h1-contact span{
    color: #CB997E;
}

fieldset{
    padding: 5%;
    border-width: 0px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1.3rem;
    display: flex;
    flex-direction: column;

}

.contact-form label {
    margin-bottom: 0.5rem;
    /* font-weight: bold;  */
    color: #6B705C;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="date"],
.contact-form select,
.contact-form textarea {
    color: #6B705C;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

.div-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.send-btn{
    align-items: center;
    /* background-color: #B7B7A4;  */
    /* background-color: #E6E3CC; */
    background-color: white;
    color: #6B705C;
    font-size: 20px;
    width: 120px;
    height: 40px;
    margin: 1%;
    border: 2px solid;
    border-color: #6B705C;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 10%;
}

/**FOOTER **/

.footer{
    background-color: #F5F2DA;
    display: flex;
    flex-direction: column;
    padding: 1% 0%;
}

.top-footer{
    text-align: center;
}

.logo-div-footer img{
    width: 60%;
} 

.bottom-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* ver porque se agranda la pantalla cuando uso space between, quiero que quede asi */
    padding: 1% 0%;
    text-align: center;
} 

.contacto-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 2%;
    gap: 10%;
} 
.contacto-div svg{
    width: 15px;
    height: 15px;
}

.copyright{
    flex-direction: column;
    font-size:  50%;;
    color: #6B705C;
    padding: 2%;
}


@media (min-width: 769px){
    /** HEADER**/
    .top-header{ 
        display: inline-block;
    }
    .nav-bar{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .ul-search{
        display: flex;
        flex-direction: row;
        padding-left: 70%; 
    }

    .ul-nav{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        width: 80%;  /* PONERLO EN 100 SI NO AGREGO BUSCADOR */
    }  

    .ul-nav li{
        font-size: 1.5rem;
    }

    .menu-icon{
        display: none;
    }
    
    .principal-header{
        justify-content: flex-start;
        align-items: center;
        padding: 0% 3%;
        
    }

    .div-logo{
        width: 30%;
    } 

    .div-logo img{
        width: 70%;
        padding: 3%;
    }


    a{
        color: #6B705C;
        text-decoration: none;
        font-size: 20px;
    }
    
    a:hover{
        color:white;
    }

/**MAIN SECTION **/
    .h2-heroe{
        align-self: center;
        padding: 1% 5%;
        margin: 1%;
    }
    .event-button{
        padding: 1%;
        margin: 1%;
    }
    .h3-heroe{
        margin: 1%;
        font-size: 20px;
    }
/* INFO*/
.info-div{
    padding: 0%;
    margin: 4%;    
}

.h2-info{
    font-size: 64px;
}

.p-info{
    font-size: 25px;
    padding-top: 3%;
}

/* Cards */

    .h2-events{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3%;
        font-size: 70px;
    }
    .main-card{
        height: 380px;
    }
    .cards-div{
        flex-direction: row;
        justify-content: space-around;
        
    }
    .card{
        padding: 0%;
        width: 20%;

    }

    .card p{
        padding: 4%;
        
    }
    
    
    /**forms **/
    .form-section{
        /* padding: 3%; */
        flex-direction: row;
        color:#6B705C;
        gap: 5%;  
    
    }

    .form-img{
        height: auto;
        width: 50%;
    }

    .main-form{
        align-items: center;
        justify-content: center;
    }

    .h1-contact{
        font-size: 3.5rem;
    }
    
    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }  

    .contact-form label {
        font-size: 1.2rem;
    }
    

/** FOOTER**/
    .logo-div-footer img{
        width: 20%;
    } 

    .bottom-footer{
        padding: 0%;
        text-align: center;
    } 

    .contacto-div{
        gap: 15%;
    } 

    .copyright{
        font-size:  80%;
    }


    /* .logo-div-footer{
        padding: 1%;
        width: 60%;
        text-align: end;
        
    }   */
    .contacto-div svg{
        width: 25px;
        height: 25px;
    }
    

    /* NOSOTROS*/
    .info-nosotros{
        margin-bottom: 8%;
    }
    .info-div1{
        position: absolute;
        left: 800px;
        top: 60px;
        width: 365px;
        height: 398px;
        background-color:#E6E3CC;
    }
    .info-h2{
        left: 20px;
        top: 200px;
        width: 598px;
        padding-top: 10%;
        color: #CB997E;
        font-size: 1.5rem;
    }
    .info-p{
        position: absolute;
        left: 0px;
        top: 150px;
        width: 600px;
        height: 63px; 
        font-size: 1.1rem;
        margin-top: 3%;
        line-height: 2rem;
    }
    .info-div2{
        position: absolute;
        left: 660px;
        top: 100px;
        width: 450px;
        height: 450px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/mesa.png);
    }
    /* CONTACTO*/
    .contact{
        height: 30vh;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5%;
    }
    
    .contact h2{
        color: #6B705C;
        font-size: 2.5rem;
    }
    .contact-button{
        font-size: 1.8rem;
        height: 12%;
        padding: 1% 1%;
    }
    /*FORM */
.heroe-form{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/fondo4.jpg);
}

.h2-form{
    font-size: 40px;
    color: white;
    margin: 2% 2%;
    background-color: #F5F2DA;
    width: 400px;
    align-self: center;
    text-align: center;
}
.form-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    margin: 4%;
}
.h2-form-info{
    padding-bottom: 3%;
    color: #CB997E;
    font-weight: bold;
    font-size: 2.5rem;
}
}